.banner-image {
  position: relative;

  .heading1, .heading2 {
    position: absolute;
    color: white;
    z-index: 1;
    padding: 10px;
    font-size: 1.2rem;
  }

  .heading1 {
    top: 10px;
    left: 4px;

    @media only screen and (min-width: 370px) {
      top: 50px;
      left: 15px;
      font-size: 1.8rem;
    }

    @media only screen and (min-width: 500px) {
      top: 75px;
      left: 30px;
      font-size: 2.2rem;
    }

    @media only screen and (min-width: 768px) {
      top: 30%;
      left: 10%;
    }
  }

  .heading2 {
    top: 35px;
    left: 4px;

    @media only screen and (min-width: 370px) {
      top: 80px;
      left: 15px;
      font-size: 1.8rem;
    }

    @media only screen and (min-width: 500px) {
      top: 115px;
      left: 30px;
      font-size: 2.2rem;
    }

    @media only screen and (min-width: 768px) {
      top: 40%;
      left: 10%;
    }
  }

  img {
    min-height: 100px;
    max-height: 400px;
    filter: brightness(50%);
  }
}