.banner-image {
  position: relative;

  .heading1 {
    position: absolute;
    color: white;
    z-index: 1;
    padding: 10px;
    top: 30%;
    left: 3%;
    max-width: 975px;
    font-size: 2rem;

    @media only screen and (max-width: 470px) {
      top: 30px;
      left: 5px;
      font-size: 1.3rem;
    }
    @media only screen and (max-width: 290px) {
      top: 30px;
      left: 5px;
      font-size: 1.1rem;
    }
  }

  img {
    min-height: 100px;
    max-height: 400px;
    filter: brightness(50%);
  }
}