.cta-home {
  text-align: center;
  width: 100%;
  min-height: 75px;
  background-color: $primary;
  color: #fff;
  padding: 15px;
  
  span {
    font-size: 1.2rem;
    font-weight: 700;
  }

  a {
    margin-top: 10px;
  }

  .cta-content{
    font-size: 2rem;
  }

  @media only screen and (max-width: 500px) {
    .cta-content{
      font-size: 1.4rem;
    }
  }
}
 