.footer-container {
  display: flex;
  flex-direction: column;
  color: #888;

  h5 {
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0 0 3px 3px;
  }

  li, .footer-social-icons {
    cursor: pointer;
  }

  a {
    color: $info;
    text-decoration: underline;
  }
}

.footer-top {
  height: 2px;
  width: 100%;
  background-color: $primary;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  padding-left: 1rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  padding-right: 0.8rem;
}

.footer-social-icons {
  display: flex;
  justify-content: space-around;

}

.footer-social-icons-icon{
  font-size: 3rem;
}

@media only screen and (min-width: 500px) {
  .footer-info {
    padding-left: 3rem;
  }

  .footer-social {
    padding-right: 3rem;
  }
}