// .carousel-custom {
//   margin-top: 5px;
// }

.carousel-item-custom {
  position: relative;

  img {
    height: 375px;
    object-fit: cover;
    filter: brightness(55%);
    
    @media only screen and (min-width: 992px) {
      min-height: 475px;
    }
  }

  div {
    position: absolute;
    bottom: 33%;

    h3 {
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
    }

    @media only screen and (min-width: 992px) {
      bottom: 38%;

      h3 {
        font-size: 2rem;
        margin-bottom: 8px;
      }
  
      button {
        font-size: 1.3rem;
        margin-top: 8px;
      }
    }
  }
}