.korero-history-container {
  font-size: 1.2rem;

  .korero-history-small-image {
    min-width: 100%;
  }

  i {
    font-size: 0.9rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1rem;
  }

  .korero-history-small-image {
    width: 100%;
  }
}

.korero-history-flipped-row {
  flex-direction: row-reverse;
}