.main-layout {
  @media only screen and (min-width: 768px) {
    padding: 0;
    max-width: 1100px;
    box-shadow: 3px 0 15px -4px rgba(0,0,0,1), -3px 0 8px -4px rgba(0,0,0,1);
    margin: auto;
  }
}