.markdown-content-container {
  padding: 30px; 
  
  img {
    object-fit: contain;
    max-width: 100%;
  }
}

.markdown-content-container-tohu {
  p:first-child{
    text-align: center;
  }
}

.markdown-content-container-committee {
  p {
    img {
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }
}