.markdown-content-container {
  padding: 30px; 
  
  img {
    object-fit: contain;
    max-width: 100%;
  }
}

.markdown-content-container-tohu, .markdown-content-container-whakapapa  {
  p:first-child{
    text-align: center;
  }
}

.markdown-content-container-committee {
  p {
    img {
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }
}

.markdown-content-container-history, .markdown-content-container-treaty {
  padding: 25px;

  p {
    img {
      display: block;
      text-align: center;
      margin: auto;
      border-radius: 5px;
    }
  }
}
