$theme-colors: (
    "primary": #dc3545,
    "info": #380613,
    "light": #FFF
);

$primary: #dc3545;
$info: #380613;
$light: #FFF;

@import "./components/header";
@import "./components/footer";
@import "./components/homeCard";
@import "./components/repCard";
@import "./components/markdownContentContainer";
@import "./components/cta";
@import "./components/homeCarousel";
@import "./components/bannerImage";
@import "./components/koreroHistoryContainer";
@import "./components/waiataCard";
@import "./components/event";
@import "~bootstrap/scss/bootstrap";